{% extends 'base.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('dist/fastselect.min.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('dist/fastselect.standalone.js') }}"></script>
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flashbag"
             style="text-align: center; margin-top: 50px; width: 50%; font-size: 20px; border: solid 2px red">{{ flashMessage }}</div>
    {% endfor %}
    <div class="row">
        <div class="col" style="width: 40%; margin-top: 50px">
            <h2>Добавление новой статьи</h2>
            {{ form(form) }}
        </div>
        <div class="col">
            {{ render(controller('App\\Controller\\BaseController::showTags')) }}
        </div>
    </div>
    <style>
        .ui-datepicker-trigger {
            width: 30px;
        }

        #app_bundle_article_type_createdDate {
            width: 200px;
            display: inline-block;
            margin-right: 5px;
        }

        #app_bundle_article_type_description {
            min-height: 400px;
        }
    </style>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $("#app_bundle_article_type_createdDate").datepicker({
                dateFormat: "d/MM/yy",
                showOn: "button",
                buttonImage: "{{ asset('calendar-alt-regular.svg') }}",
                buttonImageOnly: true,
                buttonText: "Выберите дату",
            });
        });
        $('.tagsInput').fastselect();
    </script>
{% endblock %}