{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col" style="width: 40%; margin-top: 10px">
            <h1>Статьи по тегу "{{ tagName }}"</h1>
            {% for article in articles %}
                <div style="padding: 10px; word-wrap:break-word;">
                    <h2>{{ article.title }}</h2>
                    <p>
                        <span>{{ article.createdDate.format('d M Y') }} / </span>
                        <span>{{ article.tagsNameInString }}</span>
                    </p>
                    <p>{{ article.description | truncate(500) }}</p>
                    <p style="float: right;"><a href="{{ path('app_show_article_details', {id: article.id}) }}">читать далее...</a></p>
                </div>
                <hr style="border: 1px solid black; margin-top: 30px">
            {% endfor %}
        </div>
        <div class="col">
            {{ render(controller('App\\Controller\\BaseController::showTags')) }}
        </div>
    </div>
{% endblock %}