{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col" style="width: 40%; margin-top: 10px">
            <div style="padding: 10px; word-wrap:break-word;">
                <h2>{{ article.title }}</h2>
                <p>
                    <span>{{ article.createdDate.format('d M Y') }} / </span>
                    <span>{{ article.tagsNameInString }}</span>
                </p>
                <p>{{ article.description }}</p>
            </div>
            <hr style="border: 1px solid black">
        </div>
        <div class="col">
            {{ render(controller('App\\Controller\\BaseController::showTags')) }}
        </div>
    </div>
{% endblock %}