<div class="header" style="border-bottom: 3px #868686 solid; -webkit-box-shadow: 0px 15px 16px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 15px 16px -1px rgba(0,0,0,0.75);
box-shadow: 0px 15px 16px -1px rgba(0,0,0,0.75);">
    <a style="margin-left: 10px" href="{{ path('homepage') }}"><span><img src="{{ asset('Logo/logo.png') }}" style="width: 75px"></span></a>
    <span style="float: right; margin-top: 20px; padding-right: 10px">
        <a class="btn btn-primary" href="{{ path('homepage') }}">Главная</a>
        <a class="btn btn-primary" href="{{ path('app_add_article') }}">Добавить статью</a>
    </span>
</div>