<script src="{{ asset('tagcanvas.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('jquery.tagcanvas.min.js') }}" type="text/javascript"></script>
<div class="tags-wrapper" style="float: right; padding-top: 10px; text-align: center;">
    <h1 style="margin-bottom: 20px">Тэги</h1>
    <div style="padding: 20px;
            background-image: url({{ asset('Logo/1307521026_Vector_Clipart_photo-resizer.ru.png') }}); background-position: center; background-repeat: no-repeat;">
        <div id="myCanvasContainer">
            <canvas width="500" height="350" id="myCanvas">
                <ul>
                    {% for tag in tags %}
                        <li><a href="{{ path('app_show_articles_by_tag', {id: tag.id}) }}">{{ tag.name }}</a></li>
                    {% else %}
                        <li>Нет тегов</li>
                    {% endfor %}
                </ul>
            </canvas>
        </div>
    </div>
</div>
<script type="text/javascript">
    var options = {
        textColour: 'black',
        textHeight: 20,
        outlineMethod: "block",
        depth: 0.9,
        minSpeed: 0.1,
        maxSpeed: 0.05,
        initial: [0.3, -0.1],
        outlineColour: "#587DFF",
        clickToFront: 750,
        bgOutline: false,
        freezeDecel: true,
        wheelZoom: false
    };
    window.onload = function () {
        try {
            TagCanvas.Start('myCanvas', '', options);
        } catch (e) {
            document.getElementById('myCanvasContainer').style.display = 'none';
        }
    };
</script>